$font-color = #555

$black = #000
$offBlack = #111111
$dark-gray = #333
$mid-gray = #666
$gray = #888
$silver = #999
$light-silver = #aaaaaa
$light-gray = #ccc
$offWhite = #eee
$white = #fff
$transparent = rgba(255, 255, 255, 0)

$satNavy = #002B75
$satBlue = #0050D4
$satAqua = #00D9F7
$satTeal = #00A6A6
$satOlive = #00B562
$satGreen = #00D942
$satLime = #B4D900
$satYellow = #EBCF00
$satOrange = #EB7700
$satRed = #EB0012
$satMaroon = #790009
$satFuchsia = #FF00C3
$satPurple = #8D00FF
$satSilver = #777


$type-mobile = @block {
	font-size 0.8500em /*13.6px*/
	line-height 1.3971em /*19px*/
//	letter-spacing .16em
	margin 1.3971em 0 0 0
}

$type-base = @block {
	font-size 1em /*16px*/
	line-height 1.1875em /*19px*/
	margin 1.1875em 0 0 0
}

$type-small = @block {
	font-size 1.2500em /*20px*/
	line-height 1.9000em /*38px*/
	margin 0.9500em 0 0 0
}

$type-medium = @block {
	font-size 1.5000em /*24px*/
	line-height 1.5833em /*38px*/
	margin 0.7917em 0 0 0
}

$type-large = @block {
	font-size 2.0000em /*32px*/
	line-height 1.1875em /*38px*/
	margin 0.5938em 0 0 0
}

$type-xlarge = @block {
	font-size 4.0000em /*64px*/
	line-height 1.1875em /*76px*/
	margin 0.2969em 0 0 0
}

fieldset {
    border none
}
